include *.rst
include *.cfg
recursive-include docs *
recursive-include collective *

recursive-exclude parts *
exclude .installed.cfg
global-exclude *.pyc
global-include *.mo
exclude requirements.txt
