[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.1.x.cfg
#    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.x.cfg
#    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = collective.analyticspanel
versions = versions
parts +=
    omelette
    releaser
    test

[instance]
eggs +=
   plone.reload
   collective.analyticspanel[test]

[versions]
setuptools =
zc.buildout =

[test]
recipe = zc.recipe.testrunner
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs = ${instance:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[releaser]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    pyroma
